@import "~bourbon/app/assets/stylesheets/_bourbon";
@import url(https://fonts.googleapis.com/css?family=Exo:400,900,500);

$modular-scale-ratio: $golden;
$modular-scale-base: 1.2em;

/* Variables */

$dark-black: #000B17;
$lighter-black: #001329;
$thick-teal: #00293F;
$green: #448668;
$highlight: #F7B565;
$red: #D0150B;
$lighten-red: lighten($red, 30%);
$lighten-blue: lighten($thick-teal, 60%);

$xxx-sm-size: modular-scale(-2);
$xx-sm-size: modular-scale(-1);
$x-sm-size: modular-scale(0);
$sm-size: modular-scale(1);
$med-size: modular-scale(2);
$large-size: modular-scale(3);
$x-large-size: modular-scale(4);

* {
  box-sizing: border-box;
}

h1 {
  font-size: $large-size;
  line-height: $med-size;
  margin: 0;
}

h2 {
  font-size: $med-size;
  margin: 0;
}

h3 {
  font-size: $sm-size;
  margin: 0;
}

p {
  font-size: $x-sm-size;
  line-height: $sm-size;
}

.highlight {
  color: $lighten-red;
}

.description {
  color: lighten($green, 30%);
  font-size: $xx-sm-size;
}

li {
  margin: $x-sm-size 0;
}

.card {
  padding: $xx-sm-size;
  background-color: $green;
  color: lighten($green, 80%);
  margin: $sm-size 0;
  border: 1px solid lighten($green, 30%);
  width: 99%;

  h1, h2, h3, h4 {
    margin: 0;
  }

  p {
    font-size: $xx-sm-size;
  }

}

/* Styles */
body {
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $highlight;
  background-image: url(../images/galacticspace.png);
  background-size: 300%;
  background-repeat: no-repeat;
  //background-color: $dark-black;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

textarea:focus, input:focus{
  outline: none;
}

.layout {
  margin: 0;
  padding: 0;

  .nav-bar {
    background-color: $thick-teal;
    width: 100%;
    text-align: center;
    padding: $xx-sm-size;
    border-bottom: 1px solid lighten($thick-teal, 30%);

    .brand {
      font-family: 'Exo', sans-serif;
      color: tint($thick-teal, 80%);
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0;

      li {
        flex: 1 1;
        align-items: center;
        text-align: center;
        list-style: none;
      }
    }


  }

  .main-body {
    //background-color: $dark-black;
    margin: 0 auto;
    padding: $sm-size;
    width: 90%;

    input {
      display: inline-block;
      border: none;
      background-color: inherit;
      width: 90%;
      color: #ffffff;
      font-size: $x-sm-size;
      padding: $xx-sm-size;
    }
  }
}

.progress-bar {
  display: block;

  .container {
    display: inline-block;
    padding: 0;
    height: 16px;
    width: 200px;
  }

  .health {
    display: inline-block;
    height: 100%;
    background-color: tint($red, 10%);
  }
  .energy {
    height: 100%;
    display: inline-block;
    background-color: darken($lighten-blue, 10%);
  }
  p {
    display: inline-block;
    padding: 0 0 0 10px;
  }
}


.command-input {
  border: 1px solid lighten($thick-teal, 10%);
  padding: 0 $xx-sm-size;
}

.two-column {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  .left {
    flex: 1 1;
  }
  .right {
    flex: 1 1;
  }
}

.terminal {
  overflow: scroll;
  width: 100%;
  height: 70vh;
}

.menu {
  color: #ffffff;
}

a {
  color: #ffffff;
}



