@import "~bourbon/app/assets/stylesheets/_bourbon";
@import url(https://fonts.googleapis.com/css?family=Exo:400,900,500);

$modular-scale-ratio: $golden;
$modular-scale-base: 1.2em;

// Colors
$dark-black: #000B17;
$lighter-black: #001329;
$thick-teal: #00293F;
$green: #448668;
$highlight: #F7B565;
$red: #D0150B;
$lighten-red: lighten($red, 30%);
$lighten-blue: lighten($thick-teal, 60%);

// Sizes
$xxx-sm-size: modular-scale(-2);
$xx-sm-size: modular-scale(-1);
$x-sm-size: modular-scale(0);
$sm-size: modular-scale(1);
$med-size: modular-scale(2);
$large-size: modular-scale(3);
$x-large-size: modular-scale(4);

$font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;

$progressbar-height: 20px;

@import "components/_layout";
@import "components/_typography";
@import "components/_card";
@import "components/_progressbar";

@include progress-bar($progressbar-height);


